body {
    background: linear-gradient(to right, #cfd9df 0%, #e2ebf0 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container {
    background-image: linear-gradient(to top, #dfe9f3 0%, #ffffff 100%);
    padding: 1em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.header {
    color: #327c35;
}

.self-align {
    align-self: center;
}

.label {
    color: #1c221e;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    align-self: start;
}

.input-container, .select-container {
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 91.5%;
}

.text-input {
    width: 90%;
    min-height: 25px;
    outline: none;
    padding: 4px;
    font-size: medium;
    border: 1px solid #bcced8;
}
.radio-container, .checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    accent-color: #FF4500FF;
}
.checkbox_with_label-container, .radiobutton_with_label-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
}

.select {
    width: 91%;
    min-height: 25px;
    outline: none;
    padding: 4px;
    font-size: medium;
    border: 1px solid #bcced8;
}

.textarea-container {
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 91.5%;
}

.textarea {
    resize: none;
    width: 90%;
    min-height: 100px;
    outline: none;
    border-radius: 5px;
    padding: 4px;
    border: 1px solid #bcced8;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 91%;
}

.button, .upload::file-selector-button {
    background: #327c35;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 4px;
    text-align: center;
    font-size: medium;
    height: 35px;
    width: 90px;
    cursor: pointer;
}

.button:hover {
    background: #3ec644;
    transition: background-color 0.2s ease;
}
